<section class="about">

    <div class="row-fluid">
        Location : <input type="text" id="location"/>
        <input type="submit" id="submit" value="Submit" />
    </div>

    <div class="row-fluid" ng-if="garage">
        <table class="table table-striped table-condensed table-hover">
                <thead>
                    <tr>
                        <th class="id">Id&nbsp;<a ng-click="sort_by('id')"><i class="icon-sort"></i></a></th>
                        <th class="name">Name&nbsp;<a ng-click="sort_by('name')"><i class="icon-sort"></i></a></th>
                    </tr>
                </thead>
                <tfoot>
                    <td colspan="6">
                        <div class="pagination pull-right">
                            <ul>
                                <li ng-class="{disabled: currentPage == 0}">
                                    <a href ng-click="prevPage()">« Prev</a>
                                </li>
                                <li ng-repeat="n in range(pagedItems.length)"
                                    ng-class="{active: n == currentPage}"
                                ng-click="setPage()">
                                    <a href ng-bind="n + 1">1</a>
                                </li>
                                <li ng-class="{disabled: currentPage == pagedItems.length - 1}">
                                    <a href ng-click="nextPage()">Next »</a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tfoot>
                <tbody>
                    <tr ng-repeat="item in garage" ng-click="onClick(item)">
                        <td>{{$index +1}}</td>
                        <td>{{item.properties.title}}</td>
                    </tr>
                </tbody>
            </table> 
    </div>


    <div class="map-holder">
        <div id="map"></div>
        <div class="map-touch"></div>
    </div>
</section>
